<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<!-- defining the table structure to display on UI-->

<h2>Builders</h2>
<table class="table table-striped table-bordered" id="builderTable" style="width:100%">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Email Address</th>
      <th>Zip Code</th>
    </tr>
  </thead>
  <tbody>
  <% if(typeof builders != "undefined" && builders.length > 0){ %>
    <% builders.forEach(function(builder){ %>
      <tr>
        <td><%= builder.company_name%></td>
        <td><%= builder.contact_first_name %></td>
        <td><%= builder.contact_last_name %></td>
        <td><%= builder.contact_phone_number %></td>
        <td><%= builder.email_address %></td>
        <td><%= builder.zip_code %></td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table>
